html {
  display: block;
  width: 100%;
}

@media screen and (max-width: 549px) {
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    transform: translate(-100%, 0);
    transition: transform 0.3s ease;
  }

  .nav.open {
    transform: translate(0, 0);
  }

  .nav-item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }

  .nav-list {
    flex-direction: column;
    background-color: rgba(166,172,177,.1);
  }

  .nav a {
    text-align: left;
    max-width: 100%;
  }

  .header-inner {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header-logo {
    width: 20%;
    margin: 0;
    align-self: flex-start;
  }

  .title-block {
    display: none;
  }

  .title-block2 {
    display: block;
    order: 2;
    text-align: center;
    align-self: flex-end;
    width: 50%;
    margin: 0 30% 5px auto;
  }

  .my-introduction {
    flex-direction: column;
    align-items: center;
    margin: 30px 20px 20px 20px ;
  }

  .header-title2 {
    display: inline-block;
    font-weight: 300;
    font-size: 2.2em;
    color: #2d3c49;
    align-self: center;
  }

  .second-header2 {
    margin: 0;
    margin-right: 10px;
    display: inline-block;
    font-weight: 200;
    font-size: 1em;
    color: #212121;
  }

  .my-info {
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }

  .header-menu {
    align-self: center;
    display: block;
    position: absolute;
    right: 10px;
    padding: 1em;
  }

  .header-menu svg {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    fill: #E0E0E0;
  }

  .vison-Content {
    background-image: none;
    background-color: rgba(16, 89, 65,.4);
    max-height: 500px;
    overflow: auto;
  }

  .vision-title {
    color: #4f5f6d;
  }

  .vision-article {
    color: #1d629e;
  }

  .work-list,
  .dwork-list {
    flex-direction: column;
  }

  .work li {
    margin: 50px 0 0 10px;
  }

  .dwork li {
    margin: 50px 10px 10px 10px;
  }

  .first-project,
  .second-project,
  .third-project,
  .forth-project {
    align-self: center;
    width: 80%;
  }
}

@media screen and (max-width: 840px) {
  .header-title {
    display: block;
    font-size: 2.3em;
    z-index: 4;
  }

  .second-header {
    display: block;
    font-size: 1.4em;
    z-index: 5;
  }

  .header-logo {
    margin: 0;
    align-self: center;
  }
}

@media screen and (min-width: 550px) and (max-width: 699px) {
  .my-introduction {
    max-height: 70%;
  }

  .my-info {
    order: 3;
    width: 100%;
    overflow: auto;
  }

  .vison-Content {
    width: 100%;
    max-height: 570px;
    margin: 0 10px 0 20px;
  }

  .vision-title {
    font-size: 2em;
  }

  .vision-article {
    font-size: 1.6em;
    overflow: auto;
    margin-left: 30px;
    max-height: 90%;
  }

  .dwork-list {
    flex-direction: column;
  }

  .work-list img {
    max-height: 70vh;
  }

  .work-list p {
    height: 15%;
  }

  .work-list{
    flex-wrap: wrap;
    align-items: center;
  }

  .first-project,
  .second-project,
  .third-project,
  .forth-project {
    align-self: center;
    width: 40%;
    height: 40%;
  }

  .dfirst-project,
  .dsecond-project {
    align-self: center;
    margin: 30px 30px 0 30px;
  }
}

@media screen and (min-width: 700px) {
  .my-info {
    max-width: 30%;
    max-height: 600px;
  }

  .vison-Content {
    max-height: 100%;
    margin: 0 20px 0 10px;
  }

  .vision-article {
    overflow: auto;
  }

  .work-list img {
    max-width: 40vw;
    max-height: 50vh;
  }

  .work-list p {
    height: auto;
  }

  .first-project {
    align-self: inherit;
  }

  .dfirst-project {
    align-self: inherit;
  }

  .work-list {
    flex-direction: row-reverse;
  }

  .work-list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .first-project,
  .second-project,
  .third-project,
  .forth-project {
    align-self: center;
    min-width: 40%;
    max-height: 100%;
  }

  .dwork-list {
    flex-direction: column-reverse;
    align-items: center;
  }

  .dfirst-project,
  .dsecond-project {
    width: 80%;
    margin: 30px 30px 0 30px;
  }
}

@media screen and (min-width: 850px) {
  .my-info {
    max-width: 30vw;
    max-height: 100vh;
    overflow: auto;
  }
}

@media screen and (min-width: 1200px) {
  main {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .work-list {
    flex-direction: row;
  }

  .dwork-list {
    flex-direction: row;
  }

  .my-info {
    max-width: 20%;
  }

  footer,
  header,
  .nav,
  .header-inner {
    width: 100%;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
  }
}
